jupyter-book
matplotlib
numpy
openai==0.28.1
azure-identity
ghp-import
azure-search-documents==11.4.0
azure-ai-ml
python-dotenv
langchain-community==0.0.18
unstructured==0.12.3
unstructured-client==0.17.0
langchain==0.1.5